<div class="card card-body mb-5 note">
  <div class="noteInt" onclick="$().viewModal('{{_id}}')">
    <div class="catContainer">
      <p class="containerTitle">
        {{cat_title}}
      </p>
    </div>
    <p style="margin-left:auto" id="date{{_id}}">{{dateNote}}</p>
    <h5 id="title{{_id}}" class="noteTitle">{{title}}</h5>
    <p id="description{{_id}}" class="noteDescription">{{description}}</p>
  </div>
  <div class="noteButtons">
    <a
      class="btn btn-info"
      href="#"
      onclick="$().viewModal('{{_id}}')"
      data-toggle="tooltip"
      data-placement="top"
      title="Show"
    >
      <i class="fas fa-search"></i>
    </a>
    <a
      class="btn btn-info"
      href="{{base_url}}/edit/note/{{_id}}"
      data-toggle="tooltip"
      data-placement="top"
      title="Edit"
    >
      <i class="fas fa-pen"></i>
    </a>
    <form
      action="{{base_url}}/delete/note/{{_id}}?_method=DELETE"
      method="post"
      id="deleteForm{{_id}}"
    >
      <input type="hidden" name="_method" value="DELETE" />
      <div
        class="btn btn-danger pointer"
        onclick="showDeleteConfirmation('{{_id}}')"
        data-toggle="tooltip"
        data-placement="top"
        title="Delete"
      >
        <i class="fas fa-trash"></i>
      </div>
    </form>
  </div>
</div>