<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note management demo - Davide Balice</title>
    <link rel="icon" href="{{base_url}}/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{base_url}}/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        crossorigin="anonymous"
        />
</head>
<body>
    <div class="container-fluid p_zero pb-0 mb-0">
        {{> _header}}
    </div>
    <div class="container-fluid p_zero pb-0 mb-0">
        {{#if showSearch}}
            {{> _search}}
        {{/if}}
    </div>

    {{#if flashMessage}}
        <div class="demoMsgHome">{{flashMessage}}</div>
    {{/if}}

    {{#if isLogin}}
        <div class="container-fluid loginBg">
    {{else}}
       
        {{#if showSearch}}
             <div class="container-fluid home">
        {{else}}
             <div class="container-fluid page">
        {{/if}}
    {{/if}}
        {{> _alert}}
        {{> _error}}
        {{{body}}}
    </div>
    <div class="container-fluid p_zero pb-0 mb-0">
        {{> _footer}}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{{base_url}}/js/init.js" type="text/javascript"></script>
</body>
</html>