<h3>Modifica le tue note</h3>

{{#each note}}
  {{#if _id}}
    <div class="card card-body mt-5">
      <form
        action="{{base_url}}/edit/note/{{_id}}?_method=POST"
        method="post"
      >
        <input type="hidden" name="_method" value="POST" />
        {{data}}
        <div class="form-group">
          <label for="titolo">
            Title
          </label>
          <input
            type="text"
            class="form-control"
            name="title"
            value="{{title}}"
          />
        </div>
        <div class="form-group">
          <label for="contenuto">
            Description
          </label>
          <textarea
            class="form-control"
            name="description"
          >{{description}}</textarea>
        </div>
        <button type="submit" class="btn btn-success" name="aggiungi">
          Send
        </button>
      </form>
    </div>
  {{/if}}
{{/each}}