<h2>Lista delle note</h2>

{{#each note}}
<div class="card card-body mb-5">
    <h3>{{titolo}}</h3>
    <p>{{contenuto}}</p>
    <a class="btn btn-primary btn-block mb-3" href="modifica_nota/{{id}}">Modifica</a> 

<form action="/lista_note/{{id}}?_method=DELETE" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" class="btn btn-danger btn-block" value="Cancella">

</form>

</div>
{{else}}
<h4>Non c'è nessuna nota archiviata</h4>
{{/each}}