<div class="formCard">

  <a href="/" class="back-button">
    <button type="submit" class="btn btn-success buttonNote" name="aggiungi"> < Back</button>
  </a>

  <h3 class="my-5 titleSection">Edit note</h3>

    {{#if flashMessage}}
      <p class="demoMsg">{{flashMessage}}</p>
    {{/if}}

    <form
      action="{{base_url}}/edit/note/{{note._id}}?_method=POST"
      method="post"
    >
      <input type="hidden" name="_method" value="POST" />
      
      <div class="form-group">
        <label for="data">
          Date
        </label>
        <input
          type="datetime-local"
          class="form-control noteField"
          name="date"
          value="{{formattedDate}}"
          required
        />
      </div>

      <div class="form-group">
        <label for="titolo">
          Category
        </label>
    
        <select
          class="form-control noteField"
          name="cat_id"
          required
        />
          <option value=""> - Select category - </option>
          {{#each categories}}
            <option value="{{this._id}}" {{#if (eq this._id (lookup @root 'catIdString'))}}selected{{/if}}>
              {{this.title}}
            </option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="titolo">
          Title
        </label>
        <input
          type="text"
          class="form-control noteField"
          name="title"
          value="{{note.title}}"
          required
        />
      </div>

      <div class="form-group">
        <label for="contenuto">
          Description
        </label>
        <textarea
          class="form-control textArea noteField"
          name="description"
          required
        >{{note.description}}</textarea>
      </div>
      <button type="submit" class="btn btn-success buttonNote" name="update">
        Update
      </button>
    </form>
</div>